# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'metrics_computation_engine/**'
      - '.github/workflows/mce_linter_and_formatter.yaml'
  pull_request:
    paths:
      - 'metrics_computation_engine/**'
      - '.github/workflows/mce_linter_and_formatter.yaml'
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Check code has no lint errors
        uses: astral-sh/ruff-action@0c50076f12c38c3d0115b7b519b54a91cb9cf0ad
        with:
          src: "metrics_computation_engine/"
      - name: Check code is correctly formatted
        uses: astral-sh/ruff-action@0c50076f12c38c3d0115b7b519b54a91cb9cf0ad
        with:
          args: "format --check"
          src: "metrics_computation_engine/"
